@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #300a24;
    color: white;
}

div {
    max-width: 800px;
    display: block;
    padding-top: 1em;
    padding-left: 1.5em;
}

code {
    background-color: #551140;
}

ul {
    list-style-type: square;
}

a:link {
    color: purple;
}

a:visited {
    color: #FF69B4;
}

a:active {
    color: red;
}

table {
    border-collapse: collapse;   
}

th, td {
    text-align: left;
    padding: 0.7em;
}

table, th, td {
    border: 0.1em solid white;
}

img {
    align-content: center;
    display: block;
    margin: 0 auto;
}

.alert-content {
    background-color: #fccf03;
    color: #551140;
    padding: 0.2em;
    align-content: center;
    text-align: center;
}

blockquote {
    background: #551140;
    border-left: 0.3em solid white;
    margin: 1.5em;
    padding: 0.5em;
}

blockquote:before {
    content: '\201C';
}

blockquote:after {
    content: '\201D';
}
