@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #300a24;
    color: white;
}

div {
    display: block;
    padding-top: 1em;
    padding-left: 1.5em;
}

code {
    background-color: purple;
    font-weight: bold;
}

a:link {
    color: purple;
}

a:visited {
    color: hotpink;
}

a:active {
    color: red;
}
