@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
    --bg-color: #300a24;
    --bg-color-sec: #551140;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #300a24;
    color: white;
}

div {
    max-width: 800px;
    display: block;
    padding-top: 1em;
    padding-left: 1.5em;
}

code {
    background-color: #551140;
}

ul {
    list-style-type: square;
}

a:link {
    color: purple;
}

a:visited {
    color: #FF69B4;
}

a:active {
    color: red;
}

table {
    border-collapse: collapse;   
}

th, td {
    text-align: left;
    padding: 0.7em;
}

table, th, td {
    border: 0.1em solid white;
}

img {
    align-content: center;
    display: block;
    margin: 0 auto;
}

.spoiler {
    color: #551140;
    background-color: #551140;
}

.spoiler:hover {
    color: white;
}

.alert-content {
    background-color: #fccf03;
    color: #551140;
    padding: 0.2em;
    align-content: center;
    text-align: center;
}

.visitor-count {
    text-align: center;
    font-size: 0.9em;
}

.visitor-count > span {
    padding: 0.5em 0.5em 0.5em;
    display: inline-block;
    border-radius: 0.25em;
    margin-right: -0.05em;
    margin-left: -0.1em;
    background-color: #551140;
}

blockquote {
    background: #551140;
    border-left: 0.35em solid white;
    margin: 1em;
    padding: 0.5em;
}


blockquote:before {
    content: '\201C';
    font-size: 1.5em;
}

blockquote:after {
    content: '\201D';
    font-size: 1.5em;
}

footer {
    font-size: 0.8em;
    text-align: center;
    align-content: center;
}

@-webkit-keyframes blinking_effect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking_effect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    -webkit-animation: blinking_effect 750ms steps(1) infinite;
    animation: blinking_effect 750ms steps(1) infinite;
}
